In [2]:
import os
os.chdir("../")

In [3]:
import pandas as pd
import glob
import time
import numpy as np
import matplotlib.pyplot as plt

In [5]:
resultDir = 'D:\Program Files\learn2brancher\\results'
problem = 'indset' # choices=['setcover', 'cauctions', 'facilities', 'indset']
# sampling_Strategies = ['uniform5','depthK','depthK2'] # choices: uniform5, depthK, depthK2, depthK3
model = ['Lodi','GraphConv']
model1 = model[0]
features = ['edge','constraint_1','constraint_2','constraint_3','constraint_4','constraint_5','variable_2','variable_5','variable_6','variable_7','variable_8','variable_9','variable_10','variable_11','variable_12','variable_13']
metric_columns = ['acc@1','acc@3','acc@5','acc@10']
Lodi_files = glob.glob(f'{resultDir}\{problem}\{model1}*.csv')
feat_files1 = glob.glob(f'{resultDir}\{problem}\{features[0]}\*.csv')
feat_files2 = glob.glob(f'{resultDir}\{problem}\{features[1]}\*.csv')
feat_files3 = glob.glob(f'{resultDir}\{problem}\{features[2]}\*.csv')
feat_files4 = glob.glob(f'{resultDir}\{problem}\{features[3]}\*.csv')
feat_files5 = glob.glob(f'{resultDir}\{problem}\{features[4]}\*.csv')
feat_files6 = glob.glob(f'{resultDir}\{problem}\{features[5]}\*.csv')
feat_files7 = glob.glob(f'{resultDir}\{problem}\{features[6]}\*.csv')
feat_files8 = glob.glob(f'{resultDir}\{problem}\{features[7]}\*.csv')
feat_files9 = glob.glob(f'{resultDir}\{problem}\{features[8]}\*.csv')
feat_files10 = glob.glob(f'{resultDir}\{problem}\{features[9]}\*.csv')
feat_files11 = glob.glob(f'{resultDir}\{problem}\{features[10]}\*.csv')
feat_files12 = glob.glob(f'{resultDir}\{problem}\{features[11]}\*.csv')
feat_files13 = glob.glob(f'{resultDir}\{problem}\{features[12]}\*.csv')
feat_files14 = glob.glob(f'{resultDir}\{problem}\{features[13]}\*.csv')
feat_files15 = glob.glob(f'{resultDir}\{problem}\{features[14]}\*.csv')
feat_files16 = glob.glob(f'{resultDir}\{problem}\{features[15]}\*.csv')
mean = np.zeros(17)

In [6]:
targetfile_Lodi = Lodi_files[0]
target_df_Lodi = pd.read_csv(targetfile_Lodi)
mean[0] = target_df_Lodi[metric_columns].mean()[3]
mean[0]

0.3525

In [7]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files1:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.005  0.040  0.070   0.155  gcnn:baseline   0.0
1    0.105  0.245  0.315   0.455  gcnn:baseline   1.0
2    0.520  0.665  0.720   0.800  gcnn:baseline   2.0
3    0.480  0.680  0.740   0.820  gcnn:baseline   3.0
4    0.000  0.015  0.045   0.095  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.040  0.235  0.365   0.535  gcnn:baseline  15.0
396  0.005  0.080  0.175   0.275  gcnn:baseline  16.0
397  0.030  0.165  0.245   0.390  gcnn:baseline  17.0
398  0.005  0.035  0.075   0.185  gcnn:baseline  18.0
399  0.080  0.200  0.255   0.320  gcnn:baseline  19.0

[400 rows x 6 columns]

In [8]:
mean[1] = df_empty[metric_columns].mean()[3]
mean[1]

0.3526749999999999

In [9]:
score1 = mean[0]-mean[1]
score1

-0.00017499999999992522

In [16]:

std = np.zeros(20)
for i in range(len(std)):
   df = pd.read_csv(feat_files1[i])
   std[i] = df[metric_columns].mean()[3]
std
std.mean()

0.35267499999999996

In [152]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files2:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.005  0.040   0.095  gcnn:baseline   0.0
1    0.040  0.165  0.235   0.360  gcnn:baseline   1.0
2    0.490  0.635  0.715   0.790  gcnn:baseline   2.0
3    0.485  0.660  0.745   0.825  gcnn:baseline   3.0
4    0.005  0.030  0.065   0.180  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.005  0.035  0.060   0.240  gcnn:baseline  15.0
396  0.000  0.000  0.005   0.020  gcnn:baseline  16.0
397  0.000  0.010  0.050   0.145  gcnn:baseline  17.0
398  0.015  0.030  0.035   0.135  gcnn:baseline  18.0
399  0.085  0.260  0.310   0.370  gcnn:baseline  19.0

[400 rows x 6 columns]

In [153]:
mean[2] = df_empty[metric_columns].mean()[3]
score2 = mean[0]-mean[2]
score2

0.0557874999999996

In [154]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files3:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.005  0.005   0.035  gcnn:baseline   0.0
1    0.100  0.325  0.400   0.490  gcnn:baseline   1.0
2    0.470  0.580  0.600   0.690  gcnn:baseline   2.0
3    0.485  0.690  0.740   0.820  gcnn:baseline   3.0
4    0.020  0.040  0.070   0.140  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.025  0.075  0.145   0.310  gcnn:baseline  15.0
396  0.000  0.015  0.035   0.085  gcnn:baseline  16.0
397  0.000  0.005  0.030   0.140  gcnn:baseline  17.0
398  0.000  0.005  0.010   0.035  gcnn:baseline  18.0
399  0.030  0.105  0.175   0.275  gcnn:baseline  19.0

[400 rows x 6 columns]

In [155]:
mean[3] = df_empty[metric_columns].mean()[3]
score3 = mean[0]-mean[3]
score3

0.0501625

In [156]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files4:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.020  0.045   0.140  gcnn:baseline   0.0
1    0.070  0.175  0.235   0.385  gcnn:baseline   1.0
2    0.470  0.635  0.690   0.785  gcnn:baseline   2.0
3    0.450  0.635  0.700   0.815  gcnn:baseline   3.0
4    0.000  0.000  0.015   0.065  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.030  0.240  0.355   0.555  gcnn:baseline  15.0
396  0.005  0.150  0.250   0.300  gcnn:baseline  16.0
397  0.060  0.200  0.295   0.390  gcnn:baseline  17.0
398  0.000  0.020  0.065   0.210  gcnn:baseline  18.0
399  0.050  0.220  0.285   0.375  gcnn:baseline  19.0

[400 rows x 6 columns]

In [157]:
mean[4] = df_empty[metric_columns].mean()[3]
score4 = mean[0]-mean[4]
score4

0.002637499999999793

In [158]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files5:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.020  0.055   0.140  gcnn:baseline   0.0
1    0.065  0.200  0.295   0.430  gcnn:baseline   1.0
2    0.415  0.595  0.670   0.760  gcnn:baseline   2.0
3    0.400  0.610  0.670   0.780  gcnn:baseline   3.0
4    0.000  0.000  0.015   0.065  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.045  0.240  0.365   0.575  gcnn:baseline  15.0
396  0.020  0.135  0.225   0.305  gcnn:baseline  16.0
397  0.055  0.205  0.295   0.395  gcnn:baseline  17.0
398  0.005  0.025  0.070   0.210  gcnn:baseline  18.0
399  0.050  0.205  0.295   0.365  gcnn:baseline  19.0

[400 rows x 6 columns]

In [159]:
mean[5] = df_empty[metric_columns].mean()[3]
score5 = mean[0]-mean[5]
score5

0.004174999999999596

In [160]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files6:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.015  0.055   0.140  gcnn:baseline   0.0
1    0.070  0.185  0.265   0.405  gcnn:baseline   1.0
2    0.470  0.640  0.700   0.805  gcnn:baseline   2.0
3    0.440  0.615  0.730   0.825  gcnn:baseline   3.0
4    0.000  0.000  0.010   0.065  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.035  0.235  0.360   0.560  gcnn:baseline  15.0
396  0.015  0.150  0.230   0.295  gcnn:baseline  16.0
397  0.060  0.205  0.295   0.390  gcnn:baseline  17.0
398  0.005  0.035  0.080   0.215  gcnn:baseline  18.0
399  0.045  0.200  0.280   0.365  gcnn:baseline  19.0

[400 rows x 6 columns]

In [161]:
mean[6] = df_empty[metric_columns].mean()[3]
score6 = mean[0]-mean[6]
score6

-0.001424999999999954

In [162]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files7:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.015  0.055   0.140  gcnn:baseline   0.0
1    0.075  0.185  0.260   0.390  gcnn:baseline   1.0
2    0.515  0.665  0.720   0.805  gcnn:baseline   2.0
3    0.490  0.685  0.740   0.815  gcnn:baseline   3.0
4    0.000  0.000  0.010   0.070  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.035  0.240  0.365   0.560  gcnn:baseline  15.0
396  0.015  0.160  0.240   0.300  gcnn:baseline  16.0
397  0.060  0.195  0.300   0.400  gcnn:baseline  17.0
398  0.005  0.030  0.080   0.215  gcnn:baseline  18.0
399  0.045  0.215  0.290   0.375  gcnn:baseline  19.0

[400 rows x 6 columns]

In [163]:
mean[7] = df_empty[metric_columns].mean()[3]
score7 = mean[0]-mean[7]
score7

-2.7755575615628914e-16

In [164]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files8:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.040  0.075   0.220  gcnn:baseline   0.0
1    0.040  0.185  0.285   0.415  gcnn:baseline   1.0
2    0.500  0.630  0.715   0.780  gcnn:baseline   2.0
3    0.520  0.675  0.730   0.815  gcnn:baseline   3.0
4    0.000  0.000  0.005   0.045  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.040  0.170  0.280   0.485  gcnn:baseline  15.0
396  0.025  0.145  0.230   0.370  gcnn:baseline  16.0
397  0.055  0.180  0.275   0.380  gcnn:baseline  17.0
398  0.015  0.070  0.155   0.275  gcnn:baseline  18.0
399  0.075  0.225  0.295   0.370  gcnn:baseline  19.0

[400 rows x 6 columns]

In [165]:
mean[8] = df_empty[metric_columns].mean()[3]
score8 = mean[0]-mean[8]
score8

-0.029700000000000004

In [166]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files9:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.000  0.025   0.110  gcnn:baseline   0.0
1    0.070  0.175  0.250   0.380  gcnn:baseline   1.0
2    0.515  0.645  0.690   0.765  gcnn:baseline   2.0
3    0.470  0.670  0.720   0.795  gcnn:baseline   3.0
4    0.000  0.010  0.030   0.105  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.035  0.220  0.330   0.500  gcnn:baseline  15.0
396  0.050  0.190  0.265   0.365  gcnn:baseline  16.0
397  0.065  0.215  0.305   0.390  gcnn:baseline  17.0
398  0.010  0.040  0.075   0.230  gcnn:baseline  18.0
399  0.105  0.295  0.365   0.485  gcnn:baseline  19.0

[400 rows x 6 columns]

In [167]:
mean[9] = df_empty[metric_columns].mean()[3]
score9 = mean[0]-mean[9]
score9

0.00021250000000000435

In [168]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files10:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.005  0.020  0.035   0.110  gcnn:baseline   0.0
1    0.085  0.230  0.300   0.375  gcnn:baseline   1.0
2    0.330  0.535  0.615   0.700  gcnn:baseline   2.0
3    0.335  0.515  0.600   0.695  gcnn:baseline   3.0
4    0.000  0.010  0.045   0.090  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.075  0.290  0.415   0.585  gcnn:baseline  15.0
396  0.005  0.095  0.180   0.295  gcnn:baseline  16.0
397  0.030  0.185  0.235   0.375  gcnn:baseline  17.0
398  0.010  0.025  0.060   0.245  gcnn:baseline  18.0
399  0.025  0.090  0.115   0.205  gcnn:baseline  19.0

[400 rows x 6 columns]

In [169]:
mean[10] = df_empty[metric_columns].mean()[3]
score10 = mean[0]-mean[10]
score10

-0.003275000000000028

In [170]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files11:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.130  0.255  0.355   0.440  gcnn:baseline   0.0
1    0.045  0.170  0.220   0.395  gcnn:baseline   1.0
2    0.505  0.685  0.725   0.790  gcnn:baseline   2.0
3    0.485  0.665  0.725   0.805  gcnn:baseline   3.0
4    0.140  0.185  0.195   0.225  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.075  0.260  0.335   0.450  gcnn:baseline  15.0
396  0.165  0.285  0.340   0.390  gcnn:baseline  16.0
397  0.155  0.325  0.375   0.415  gcnn:baseline  17.0
398  0.135  0.270  0.320   0.420  gcnn:baseline  18.0
399  0.055  0.225  0.280   0.370  gcnn:baseline  19.0

[400 rows x 6 columns]

In [171]:
mean[11] = df_empty[metric_columns].mean()[3]
score11 = mean[0]-mean[11]
score11

-0.057237499999999886

In [172]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files12:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.025  0.125  0.190   0.295  gcnn:baseline   0.0
1    0.145  0.310  0.365   0.430  gcnn:baseline   1.0
2    0.510  0.680  0.715   0.790  gcnn:baseline   2.0
3    0.480  0.665  0.730   0.810  gcnn:baseline   3.0
4    0.010  0.020  0.040   0.085  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.040  0.250  0.375   0.560  gcnn:baseline  15.0
396  0.010  0.150  0.235   0.360  gcnn:baseline  16.0
397  0.060  0.195  0.285   0.395  gcnn:baseline  17.0
398  0.025  0.100  0.180   0.340  gcnn:baseline  18.0
399  0.090  0.260  0.350   0.480  gcnn:baseline  19.0

[400 rows x 6 columns]

In [173]:
mean[12] = df_empty[metric_columns].mean()[3]
score12 = mean[0]-mean[12]
score12

-0.039987500000000176

In [174]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files13:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.070  0.155  0.195   0.305  gcnn:baseline   0.0
1    0.140  0.275  0.305   0.405  gcnn:baseline   1.0
2    0.520  0.675  0.715   0.800  gcnn:baseline   2.0
3    0.495  0.680  0.745   0.815  gcnn:baseline   3.0
4    0.020  0.080  0.100   0.145  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.045  0.245  0.355   0.550  gcnn:baseline  15.0
396  0.010  0.165  0.240   0.300  gcnn:baseline  16.0
397  0.060  0.215  0.305   0.400  gcnn:baseline  17.0
398  0.000  0.050  0.080   0.235  gcnn:baseline  18.0
399  0.045  0.195  0.290   0.365  gcnn:baseline  19.0

[400 rows x 6 columns]

In [175]:
mean[13] = df_empty[metric_columns].mean()[3]
score13 = mean[0]-mean[13]
score13

-0.040312500000000806

In [176]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files14:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.015  0.090  0.175   0.280  gcnn:baseline   0.0
1    0.040  0.160  0.255   0.380  gcnn:baseline   1.0
2    0.365  0.620  0.655   0.755  gcnn:baseline   2.0
3    0.345  0.570  0.650   0.775  gcnn:baseline   3.0
4    0.030  0.085  0.145   0.280  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
415  0.045  0.175  0.300   0.460  gcnn:baseline  15.0
416  0.045  0.165  0.220   0.315  gcnn:baseline  16.0
417  0.070  0.200  0.290   0.390  gcnn:baseline  17.0
418  0.000  0.035  0.065   0.205  gcnn:baseline  18.0
419  0.070  0.185  0.250   0.340  gcnn:baseline  19.0

[420 rows x 6 columns]

In [177]:
mean[14] = df_empty[metric_columns].mean()[3]
score14 = mean[0]-mean[14]
score14

0.005690476190475746

In [178]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files15:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.025  0.070   0.145  gcnn:baseline   0.0
1    0.070  0.175  0.240   0.340  gcnn:baseline   1.0
2    0.520  0.670  0.720   0.795  gcnn:baseline   2.0
3    0.480  0.690  0.750   0.830  gcnn:baseline   3.0
4    0.000  0.005  0.005   0.050  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.065  0.205  0.310   0.500  gcnn:baseline  15.0
396  0.020  0.135  0.210   0.285  gcnn:baseline  16.0
397  0.055  0.200  0.280   0.405  gcnn:baseline  17.0
398  0.005  0.030  0.060   0.205  gcnn:baseline  18.0
399  0.085  0.225  0.340   0.420  gcnn:baseline  19.0

[400 rows x 6 columns]

In [179]:
mean[15] = df_empty[metric_columns].mean()[3]
score15 = mean[0]-mean[15]
score15

0.009574999999999723

In [180]:
df_empty = pd.DataFrame(columns=['acc@1','acc@3','acc@5','acc@10'])
for file in feat_files16:
   df = pd.read_csv(file)
   df_empty = df_empty.append(df,ignore_index=True)
df_empty

     acc@1  acc@3  acc@5  acc@10         policy  seed
0    0.000  0.030  0.105   0.205  gcnn:baseline   0.0
1    0.060  0.195  0.280   0.370  gcnn:baseline   1.0
2    0.525  0.640  0.690   0.790  gcnn:baseline   2.0
3    0.485  0.660  0.735   0.815  gcnn:baseline   3.0
4    0.000  0.005  0.010   0.030  gcnn:baseline   4.0
..     ...    ...    ...     ...            ...   ...
395  0.055  0.295  0.415   0.580  gcnn:baseline  15.0
396  0.020  0.170  0.220   0.325  gcnn:baseline  16.0
397  0.020  0.135  0.245   0.375  gcnn:baseline  17.0
398  0.000  0.020  0.045   0.150  gcnn:baseline  18.0
399  0.055  0.140  0.230   0.325  gcnn:baseline  19.0

[400 rows x 6 columns]

In [181]:
mean[16] = df_empty[metric_columns].mean()[3]
score16 = mean[0]-mean[16]
score16

0.0074624999999999275

In [383]:
data = {
    'edge' :[score1],
    'CF1' :[score2],
    'CF2':[score3],
    'CF3':[score4],
    'CF4':[score5],
    'CF5':[score6],
    'VF2':[score7],
    'VF5':[score8],
    'VF6':[score9],
    'VF7':[score10],
    'VF8':[score11],
    'VF9':[score12],
    'VF10':[score13],
    'VF11':[score14],
    'VF12':[score15],
    'VF13':[score16],
}
df = pd.DataFrame(data)
df.index=[' ']
df
# y = [edge,constraint_1,constraint_2,constraint_3,constraint_4,constraint_5,variable_2,variable_5,variable_6,variable_7,variable_8,variable_9,variable_10,variable_11,variable_12,variable_13]
# x = [0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30]

,edge,CF1,CF2,CF3,CF4,CF5,VF2,VF5,VF6,VF7,VF8,VF9,VF10,VF11,VF12,VF13
,0.010088,0.0383,0.044875,0.03385,0.0152,0.031225,0.003013,0.10645,0.062262,0.322087,0.168538,0.015087,0.020525,0.189812,0.0072,0.008825

In [66]:
score = pd.DataFrame(columns=['edge', 'CF1', 'CF2', 'CF3','CF4','CF5','VF1','VF2','VF3','VF4','VF5','VF6','VF7','VF8','VF9','VF10',])
score

Empty DataFrame
Columns: [edge, CF1, CF2, CF3, CF4, CF5, VF1, VF2, VF3, VF4, VF5, VF6, VF7, VF8, VF9, VF10]
Index: []

In [182]:
score=score.append(pd.DataFrame({'edge':[score1],'CF1':[score2],'CF2':[score3],'CF3':[score4],'CF4':[score5],'CF5':[score6],'VF1':[score7],'VF2':[score8],'VF3':[score9],'VF4':[score10],'VF5':[score11],'VF6':[score12],'VF7':[score13],'VF8':[score14],'VF9':[score15],'VF10':[score16]}),ignore_index=True)
score

,edge,CF1,CF2,CF3,CF4,CF5,VF1,VF2,VF3,VF4,VF5,VF6,VF7,VF8,VF9,VF10
0,0.004650,0.001913,0.003913,0.146713,0.009575,0.180862,3.991250e-02,0.021663,0.060662,0.287275,0.071212,0.006938,0.011850,0.163500,0.004988,0.005438
1,0.001400,0.025387,0.005225,0.000075,-0.001437,0.005225,1.758750e-02,0.070525,0.044162,0.199012,0.219587,0.002725,0.012238,0.051638,0.004113,0.004075
2,0.000000,0.000250,0.000450,0.000000,0.000000,0.000000,1.750000e-04,0.000162,0.000000,0.022526,0.000275,0.000000,0.000000,0.000012,0.000000,0.000000
3,-0.000175,0.055787,0.050162,0.002637,0.004175,-0.001425,-2.775558e-16,-0.029700,0.000213,-0.003275,-0.057237,-0.039988,-0.040313,0.005690,0.009575,0.007462

In [1]:
ax = df.plot.bar()
ax.set_title("SetCover_Permutation")
ax.set_ylabel('acc@10')
ax.set_ylim(-0.06,0.30)
ax.set_xlim(-0.4,0.3)

NameError: name 'df' is not defined